.titleName {   
    font-size: 13px;
    text-align: left;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #242424;
}